.recommended-flex {
  position: fixed;
  left: 450px;
  top: 10px;
  display: flex;
  align-items: center;
  z-index: 1000;
  user-select: none;
  margin-bottom: 1rem;
  gap: 20px;

}

.btns {
  margin-top: 20px;
  font-size: 20px;
  padding: 2px 15px;
  cursor: pointer;
  user-select: none;
  border: none;
  border-top: 2px solid #1e1e1e;
  border-bottom: 2px solid #1e1e1e;
  background-color: white;
}

.btns:hover{
  border-top: 3px solid #5b5b5b;
  border-bottom: 3px solid #5b5b5b;
  margin-top: 15px;
}

@media screen and (max-width: 1024px) {
  .recommended-flex {
    position: fixed;
    align-items: start;
    top: 115px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .btns {
    font-size: 18px;
    padding: 5px 10px;
  }

  .recommended-title {
    margin-left: 0px;
  }
}
