.recommended-flex {
  position: fixed;
  width: 80%;
  top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  user-select: none;
  margin-bottom: 1rem;
  gap: 10px;

}

.btns {
  margin-top: 10px;
  font-size: 20px;
  padding: 5px 15px;
  cursor: pointer;
  user-select: none;
  border: 2px solid #5b5b5b;
  background-color: white;
}

.btns:hover{
    border-bottom: 3px solid #5b5b5b;
    transition: 0.1s;
    margin-top: 7px;
}

@media screen and (max-width: 1024px) {
  .recommended-flex {
    position: fixed;
    align-items: start;
    top: 115px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .btns {
    font-size: 18px;
    padding: 5px 10px;
  }

  .recommended-title {
    margin-left: 0px;
  }
}
