.recommended-flex {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 1000;
  user-select: none;
  margin-bottom: 1rem;
  gap: 20px;
  justify-content: center;
}



/* Original position */
.recommended-flex.original-position {
  position: fixed;
  top: 23px; /* Adjust based on your layout */
  transition: 0.5s;
  left: 450px;
}

/* Stuck to top on scroll down */
.recommended-flex.stick-to-top {
  position: fixed;
  top: 23px;
  left: 450px;
  transition: 0.5s;
}



.btns {
  font-size: 20px;
  padding: 7px 15px;
  cursor: pointer;
  user-select: none;
  border: none;
  border-top: 2px solid #1e1e1e;
  border-bottom: 2px solid #1e1e1e;
  background-color: white;}

.btns:hover{
  border-top: 3px solid #5b5b5b;
  border-bottom: 3px solid #5b5b5b;
  margin-top: -3px;
}

@media screen and (max-width: 1024px) {
  .recommended-flex {
    position: fixed;
    align-items: start;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
  }
  .recommended-flex.original-position {
    position: fixed;
    top: 120px; /* Adjust based on your layout */
    left: 0;
    transition: 0.5s;
  }
  .recommended-flex.stick-to-top {
    position: fixed;
    top: 20px;
    left: 0;
    transition: 0.5s;
  }

  .btns {
    padding: 2px 6px;
  }

  .recommended-title {
    margin-left: 0px;
  }
}

/* Dark Mode Support */
body.dark-mode .btns {
  background-color: #1e1e1e;
  color: white;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}

body.dark-mode .btns:hover {
  border-top: 3px solid #777;
  border-bottom: 3px solid #777;
  background-color: #333;
}

