.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 15%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  border-right: 2px solid #5b5b5b;
  transition: 0.5s;
  user-select: none;
}

.close-btn {
  display: none;
  position: fixed;
  top: 23px;
  right: 1rem;
  z-index: 4;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  padding-top: 2px;
}

.toggle-sidebar-btn {
  display: none;
  position: fixed;
  left: 1rem;
  z-index: 10001;
  font-size: 1.5rem;
  border: none;
  padding: 0px 5px;
  cursor: pointer;
  user-select: none;
  background-color: #fff;
}

/* When showing (scrolling down) */
.toggle-sidebar-btn.hide-toggle-btn {
  top: 15px;
  transition: 0.5s;
}

/* When hiding (scrolling up) */
.toggle-sidebar-btn.show-toggle-btn {
  top: -60px;
  transition: 0.5s;
}

.toggle-sidebar-btn.stay-visible {
  top: 15px !important;
  transition: top 0.5s;
}


@media screen and (max-width: 1080px) {
  .sidebar {
    width: 70%;
    transform: translateX(-100%);
    z-index: 1003;
  }

  .sidebar.show {
    transform: translateX(0);
  }

  .toggle-sidebar-btn {
    display: block;
  }
  .close-btn {
    display: block;
  }
}
