.sidebar-title {
  font-size: 1.8rem;
  user-select: none;
  display: flex;
  justify-content: center;
  text-decoration: 2px underline;
  text-underline-offset: 2px;
  margin-left: -10px;
  margin-top: 20px;
  margin-bottom: 15px;
}
   
  .sidebar-label-container {
    display: flex; /* Use flex for alignment */
    align-items: center;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
    font-size: 18px;
  }
  
  .sidebar-label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px; /* Reduced size */
    width: 20px; /* Reduced size */
    border: 2px solid #5b5b5b;
    background-color: #eee;
    border-radius: 50%;
    transition: 0.3s;
  }
  
  
  .all {
    background: linear-gradient(blue, crimson);
  }
  
  .sidebar-label-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .sidebar-label-container input:checked ~ .checkmark {
    background-color: #2196f3;
  }
  
  .checkmark::after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .sidebar-label-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .sidebar-label-container .checkmark:after {
    top: 6px;
    left: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
  }
