nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    border-bottom: 2px solid #5b5b5b;
    padding: 20px 20px;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    user-select: none;
    margin: 0rem 0.3rem 1rem 14rem;
    background-color: white; /* Add a background color to avoid content showing through */
}

.title{
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.search-input{
    padding: 10px 20px;
    width: 300px;
    background: transparent;
    border: 2px solid #c0c0c0;
    border-radius: 25px;
    outline: none;
    cursor:auto;
    font-size: 1.1rem;
    position: relative;
}

.search-input::placeholder{
    color: rgb(97, 97, 97);
    font-size: 1.1rem;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.search-input:focus{
    transition: .3s;
    width: 500px;
    transform: translateY(-2px);
}

.search-input:hover{
    transition: 0.3s;
    transform: translateY(-2px);}



@media screen and (max-width: 1080px) {
    nav{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        margin: 0rem 0rem 0rem 0rem;
        background-color: white;
        padding: 10px;
        gap: 5px;
    }
    .search-input:focus{
        width: 300px;
    }
    .search-input{
        width: 200px;
        height: 40px;
    }
}