.app-container {
  display: flex;
}

.main-content {
  margin-left: 13%; /* Equal to sidebar width */
  width: 87%;
  padding: 1rem;
  box-sizing: border-box;
}

/* Default Light Mode (no changes needed if this is your default) */
body {
  background-color: #fff;
  color: #282828;
}

@media screen and (max-width: 1080px) {
  .main-content {
    margin:auto;
    width: 100%;
  }
}
