.app-container {
  display: flex;
}

.main-content {
  margin-left: 13%; /* Equal to sidebar width */
  width: 87%;
  padding: 1rem;
  box-sizing: border-box;
}

/* Default Light Mode (no changes needed if this is your default) */
body {
  background-color: #fff;
  color: #282828;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {

  body {
    background-color: #1e1e1e;
    color: #f1f1f1;
  }

  .main-content {
    background-color: #1e1e1e;
  }
  .search-input {
    border: none;
  }

  .card {
    background-color: #1e1e1e;
    color: #f1f1f1;
    border: 2px solid #282828;
  }

  .card-title,
  .total-reviews,
  .card-price {
    color: #eeeeee;
  }

  .recommended-title{
    color: #eeeeee;
  }

  .btns{
    color: #eeeeee;
    background-color: #1e1e1e;
    border: none;
    border-top: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
  }

  .toggle-sidebar-btn {
    color: #eeeeee;
  }

  .close-btn{
    color:#eeeeee;
  }

  .search-input{
    background-color: #292929;
    color: #eeeeee;
  }

  .sidebar{
    background-color: #1e1e1e;
    border-right: 2px solid #5b5b5b;

  }

  .bag-icon {
    color: #f1f1f1;
  }
  nav{
    background-color: #1e1e1e;
    color: #f1f1f1;
    border-bottom: 2px solid #c0c0c0;

  }
}

body, .card, .main-content {
  transition: background-color 0.3s ease, color 0.3s ease;
}


@media screen and (max-width: 1080px) {
  .main-content {
    margin:auto;
    width: 100%;
  }
}
