@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    text-decoration: none;
    color: #282828;
}

li{
    list-style: none;
}

.btns{
    padding: 8px 16px;
    margin-right: 10px;
    background: transparent;
    border: none;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.4);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-size: 1.1rem;
    user-select: none;
    color: #282828;
}

.btns:hover{
    transition: 0.3s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
}